@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
}

*{
    font-family: 'Ubuntu', sans-serif !important;
}
.navbar-brand{
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 5px;
    border-top: #FC4445 2px solid;
}
.navbar-collapse{
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 0;
}


.navbar{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-primary{
    background-color: #FC4445 !important;
    border: none;
}
body{
    overflow-x: hidden !important;
    height: 100vh;
    background: #141d26;
}

.nav-link{
    color: white;
}
.nav-link:hover{
    /* border: #eb586f 2px solid;
    width: 110%;
    font-size: 1.1rem; */
    background-color: #FC4445;
    box-shadow:0px 0px 10px #FC4445;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
}


.dropTable{
    width: 30rem;
    padding: 15px;
}






