
<h2>Restaurant:</h2>
<hr class="lightHR">
<div class="container">
    <div class="row">
        <div class="card col-xs-12 col-md-12">
            <div class="card-body">
                <div class="row">
                    <!-- left side of card / image -->
                    <div class="col-xs-0 col-md-2 restImgContainer">
                    </div>
    
                    <!-- right side of card -->
                    <div class="col-xs-12 col-md-10">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="card-text">Restaurant Name: {{_RestaurantItem.restaurantName}}</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="card-text">Phone Number: {{_RestaurantItem.phoneNo}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="card-text">Location: {{_RestaurantItem.strAddress + ","}} {{_RestaurantItem.city + ","}} {{_RestaurantItem.zipcode}}</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="card-text">Rating: {{_RestaurantItem.rating || rating}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="card-text">Description: {{_RestaurantItem.description}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-0 col-sm-8"></div>
                            <div class="col-12 col-sm-4">
                                <button class="btn btn-primary" type="submit" (click)="WriteReview(_RestaurantItem.license)">Write a review</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
    </div>
</div>

<hr class="lightHR">

<h2>Reviews:</h2>

<div class="tblDiv">
    <table class="table table-light">
        <tr>
            <th><b>Username</b></th>
            <th><b>Rating</b></th>
            <th class="commentCol"><b>Comment</b></th>
            <th><b>Date</b></th>
        </tr>
        <tr *ngFor="let item of _ReviewItem">
            <td>{{item.username}}</td>
            <td>{{item.userReview.rating || rating}}</td>
            <td>{{item.userReview.review || ""}}</td>
            <td>{{item.userReview.date || ""}}</td>
        </tr>
    </table>
</div>

<div class="container-fluid bg-light reviewContainer" *ngFor="let item of _ReviewItem">
    <div class="row">
        <div class="col-6"><p><b>Username:</b></p></div>
        <div class="col-6"><p>{{item.username}}</p></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6"><p><b>Rating:</b></p></div>
        <div class="col-6"><p>{{item.userReview.rating || rating}}</p></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12"><p><b>Review:</b></p></div>
        <div class="col-12"><p>{{item.userReview.review || ""}}</p></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6"><p><b>Date:</b></p></div>
        <div class="col-6"><p>{{item.userReview.date || ""}}</p></div>
    </div>
</div>