
    <div class="container-fluid" *ngIf="reqInfo.authenticated">
        <div class="row">
            <div class="col-lg-4 imgContainer">
            </div>

            <div class="col-lg-8 feedbackContainer">
                <h3>Feedback</h3>
                <hr>
                <div class="row">
                    <div class="col-6 col-sm-4 form-group"><p>Restaurant Name:</p></div>
                    <div class="col-6 col-sm-8 form-group"><p>{{_RestaurantItem.restaurantName}}</p></div>
                </div>
                <hr class="restHR">
                <div class="row">
                    <div class="col-md-4 form-group"><p>How do you feel?</p></div>
                    <div class="col-md-8 form-group">
                        <textarea class="form-control" rows="5" name="review" type="text" #review="ngModel" [(ngModel)]="_review"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group"><p>How was your experience from the scale of 1-10?</p></div>
                    <div class="col-md-8 form-group">
                        <input class="form-control rateInput" name="rating" #rating="ngModel"
                    [(ngModel)]="_rating" type="number" min="0" max="10">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-primary" type="submit" (click)="Submit(_RestaurantItem.license)">Submit</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary" id="myButton" type="button" value="Cancel" (click)="Cancel()">Cancel</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
