.feedbackContainer{
    background-color: #243447;
    padding: 20px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
}

.imgContainer{
    background-color: #243447;
    background-image: url(../../assets/feedback.gif);
    background-position: center;
    background-size: cover;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
}
.feedbackContainer h3, .feedbackContainer p{
    color: white;
}

h3{
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}

hr{
    width: 85%;
    background-color: white;
}
.restHR{
    margin-top: 0;
    width: 55%;
}
@media(max-width:991.98px){
    .feedbackContainer{
        border-radius: 15px;
    }
}

@media (max-width: 767.98px) {
    .btn{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.8rem;
    }
    p{
        font-size: 0.8rem;
        margin: 0;
    }
    h3{
        font-size: 20px;
        padding-bottom: 5px;
    }
}
.btn{
    width: 90%;
    background: #900000;
    border: none;
    margin-left: 5%;
}

.btn:hover{
    width: 100%;
    background: crimson;
    box-shadow:0px 0px 10px crimson;
    margin-left:0;
}

.rateInput{
    width: 4rem;
}