<div class="container main">
  <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselIndicators" data-slide-to="1"></li>
      <li data-target="#carouselIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One-->
      <div class="carousel-item active" id="slideOne">
        <div class="carousel-caption d-none d-md-block firstSlideCap">
          <h2 class="display-4">MORE CHOICE</h2>
          <p class="lead">Select Between a Variety Of Local Restaurants</p>
        </div>
      </div>
      <!-- Slide Two -->
      <div class="carousel-item" id="slideTwo">
        <div class="carousel-caption d-none d-md-block secondSlideCap">
          <h2 class="display-4">PICK IT UP OR WAIT FOR DELIVERY</h2>
          <p class="lead">Some Restaurants Offer Delivery, TRY THAT!</p>
        </div>
      </div>
      <!-- Slide Three -->
      <div class="carousel-item" id="slideThree">
        <div class="carousel-caption d-none d-md-block thirdSlideCap">
          <h2 class="display-4">SAVE TIME</h2>
          <p class="lead">Order In Less Than TWO Minutes With Our Website</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <hr>
  <div class="container-fluid cardContainer">
    <div class="row">
      <div class="col-md-6 feedback-container">
        <div class="fb-card">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <img class="card-img" src="../assets/card-header/feedback.png" alt="Card image cap">
            </div>
            <div class="col-md-3"></div>
          </div>
          <hr>
          <div class="row">
            <div class="text-card col-12">
              <h5 class="lead">Customers Feedback</h5>
              <p class="">Select from the local restaurants and read all the feedbacks!</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 btnCol1">
              <a onClick="document.getElementById('listText').scrollIntoView();" class="btn btn-primary">Restaurants List</a>
            </div>
            <div class="col-md-1"></div>
          </div>

        </div>
      </div>

      <div class="col-md-6 partner-container">
        <div class="card pt-card">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <img class="card-img" src="../assets/card-header/partnership.png" alt="Card image cap">
            </div>
            <div class="col-md-3"></div>
          </div>
          <hr>
          <div class="row">
            <div class="text-card col-12">
              <h5 class="lead">Want to become our partner?</h5>
              <p class="">If you have a restaurant and want to register it, simply click on the button below!</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 btnCol2">
              <a routerLink="/RestaurantRegister" routerLinkActive="active" class="btn btn-primary">Register Me!</a>
            </div>
            <div class="col-md-1"></div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <hr>
  <div class="jumbotron listText" id="listText">
    <h1>..:Popular Cuisines:..</h1>
  </div>
  <div class="container restContainer" *ngFor="let res of _RestaurantItem">
    <div class="row">
      <div class="card col-xs-12 col-md-12">
        <div class="card-body">
          <div class="row">
            <!-- left side of card / image -->
            <div class="col-xs-0 col-md-2 restImgContainer">
            </div>

            <!-- right side of card -->
            <div class="col-xs-12 col-md-10">
              <div class="row">
                <div class="col-md-3">
                  <p class="card-text"><b>Restaurant Name:</b></p>
                </div>
                <div class="col-md-3">
                  <p class="card-text">{{res[0].restaurantName}}</p>
                </div>
                <div class="col-md-3">
                  <p class="card-text"><b>Rating:</b></p>
                </div>
                <div class="col-md-3">
                  <a href="ViewReview/{{res[0].license}}">{{res[1] || 0}}/10.0</a>
                </div>
              </div>
              <div class="row" *ngIf='res[0].strAddress != "" && res[0].city != "" && res[0].zipcode != ""'>
                <div class="col-md-3">
                  <p class="card-text"><b>Location:</b></p>
                </div>
                <div class="col-md-9">
                  <p class="card-text">{{res[0].strAddress}}, {{res[0].city}}, {{res[0].zipcode}}</p>
                </div>
              </div>
              <div class="row" *ngIf='res[0].description != ""'>
                <div class="col-md-3">
                  <p class="card-text"><b>Description:</b></p>
                </div>
                <div class="col-md-9">
                  <p class="card-text">{{res[0].description}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <p class="card-text"><b>Phone Number:</b></p>
                </div>
                <div class="col-md-3">
                  <p class="card-text">{{res[0].phoneNo}}</p>
                </div>
              </div>
              <div class="row btnContainer">
                <div class="col-md-4">
                  <a class="btn btn-primary" href="Menu/{{res[0].license}}" type="submit">Menu</a>
                </div>
                <div class="col-md-4">
                  <a class="btn btn-primary" href="ViewReview/{{res[0].license}}" type="submit"> View Reviews</a>
                </div>
                <div class="col-md-4">
                  <a class="btn btn-primary" href="WriteReviews/{{res[0].license}}" type="submit">Write a Review</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!reqInfo.authenticated">
    <hr>
    <div class="container-fluid readyToOrder">
      <div class="row">
        <div class="jumbotron col-md-12">
          <h3>Ready To Order?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-0 col-md-4"></div>
        <div class="col-md-4">
          <a routerLink="/UserRegister" routerLinkActive="active" class="btn btn-primary">Get Started</a>
        </div>
        <div class="col-xs-0 col-md-4">
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>