@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
}

*{
    font-family: 'Ubuntu', sans-serif !important;
}

.restImgContainer{
    background: url(../../assets/restaurants/burgerking.png);
    background-position: center;
    background-size: cover;
}
.restContainer{
    margin-top: 20px;
    margin-bottom:20px;
    padding: 0;
}

.restContainer:hover{
    box-shadow:0px 0px 50px grey;
    z-index: 2;
}

hr{
    background-color: white;
    width: 55%;
    margin-top: 30px;
}

h3{
    color: #fff;
    text-align: center;
}

.btn{
    width: 90%;
    background: #900000;
    border: none;
    margin-left: 5%;
}

.btn:hover{
    width: 100%;
    background: crimson;
    box-shadow:0px 0px 10px crimson;
    margin-left:0;
}

@media (max-width:996px){
    p,.btn{
        font-size: 12px;
    }
    .btn{
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h3{
        font-size: 24px;
    }
}

.btn, .readyToOrder a, .cardContainer a{
    width: 90%;
    background: #900000;
    border: none;
    margin-left: 5%;
}

.btn:hover, .readyToOrder a:hover, .cardContainer a:hover{
    width: 100%;
    background: crimson;
    box-shadow:0px 0px 10px crimson;
    margin-left:0;
}

.btnContainer{
    margin-top: 10px;
    padding: 20px
}

@media (max-width: 869px){
    b,p,a,.btn{
        font-size: 12px;
    }
    h1{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
        margin-bottom: 5px;
    }
    h5{
        font-size: 14px;
    }
    .btn{
        width: 100% !important;
        margin-left: 0 !important;
        margin: 5px 0;
    }
    .card-img{
        width: 50%;
        /* height: 50%; */
    }
    .carousel, .carousel-item{
        max-height: 500px;
    }
}

.readyToOrder .jumbotron{
    background-color: inherit;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.readyToOrder a{
    width: 90%;
    background-color: #900000;
    text-align: center;
    border: none;
}
