<!-- <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>User Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="my-form" autocomplete="off">
        <mat-tab-group>
          <mat-tab label="General Information" class="my-tab">
            <table style="width: 100%" cellspacing="10">
                <tr>
                    <td>
                        <mat-form-field>
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="Username" [(ngModel)]="_username" name="username" #username="ngModel" minlength="4" required>
                    <mat-error *ngIf="username?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error>
                    <mat-error *ngIf="username?.errors?.minlength" style="color:blue"><i>Username has at least four characters.</i></mat-error>
                        </mat-form-field>
                    </td>
                </tr>  
              <tr>
                <td>
                  <mat-form-field>
                    
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name*" [(ngModel)]="_firstname" name="firstname" #firstname="ngModel" required>
                    <mat-error *ngIf="firstname?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error>
                    <mat-error *ngIf="firstname?.errors?.minlength" style="color:blue"><i>Username has at least four characters.</i></mat-error>
                 </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name*" [(ngModel)]="_lastname" name="lastname" #lastname="ngModel" required>
                    <mat-error *ngIf="lastname?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error> -->
                    <!-- <mat-error *ngIf="lastname?.errors?.minlength" style="color:blue"><i>Last Name has at least four characters.</i></mat-error> -->
                  <!-- </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email*" [(ngModel)]="_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" #email="ngModel" required>
                    <mat-error *ngIf="email?.errors?.pattern" style="color:blue"><i>Email format incorrect</i></mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password *" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$" [(ngModel)]="_password" name="password" #password="ngModel" required>
                    <mat-error *ngIf="password?.errors?.pattern" style="color:blue"><i>Must contain at least 1 number, 1 uppercase, 1 lowercase letter, 1 special character, and at least 8 or more characters.</i></mat-error>
                    {{_password}}
                  </mat-form-field>
                </td>
              </tr>
              <tr></tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" placeholder="Confirm Password *" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$" [(ngModel)]="_confirm" name="confirm" #confirm="ngModel" required>
                    <small><p *ngIf="_password != _confirm" style="color:red"><i>Password does not match</i></p></small>
                    {{_confirm}}
                  </mat-form-field>
                </td>
              </tr>
              
            </table>
          </mat-tab>
          <mat-tab label="Other Information" class="my-tab">
            <table style="width: 100%" cellspacing="10">
              <tr>
                <td>
                  <mat-label>Gender</mat-label>
                  <mat-radio-group [(value)]="selectedGender" >
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Address</mat-label>
                    <textarea matInput [(ngModel)]="_address" name="address" #address="ngModel" placeholder="Your Address"></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Zip code</mat-label>
                    <input matInput type="text" [(ngModel)]="_zipcode" name="zipcode" #zipcode="ngModel" 
                    placeholder="Zipcode *"/>
                  </mat-form-field>
                </td>
              </tr> <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Mobile Phone</mat-label>
                    <input matInput  type="text" [(ngModel)]="_txtEmpPhone" name="txtEmpPhone" #txtEmpPhone="ngModel" minlength="10" maxlength="10" name="txtEmpPhone" 
                    placeholder="Your Phone Number *"/>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </mat-tab>
        </mat-tab-group>
  
  
  
  
  
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!email.valid || !confirm.valid || !lastname.valid || !username.valid || !firstname.valid"
      (click)="RegisterUser()" color="primary">Create</button>
    </mat-card-actions>
  </mat-card>
  -->
  <div class="container-fluid register">
    <div class="row">
        <!-- left column: login column -->
        <div class="col-md-2 register-left">
        </div>

        <!-- right column, registeration column -->
        <div class="col-md-8 register-right">


  <div class="container-fluid right-col">
    <!-- user tab -->
    <h3 class="register-heading">Register as a User</h3>
    <div class="row register-form">
        <!-- <tr>
            <td><b> First Name: </b></td>
            <td>
                <input type="text" required [(ngModel)]="_firstname" name="firstname" #firstname="ngModel">

                <div [hidden]="firstname.valid || firstname.pristine">
                    This control is invalid.</div>
            </td>
            <td> 
                <p *ngIf="firstname?.errors?.required">All fields are required.</p>
            </td>
        </tr>
        <br><br> -->

        <!-- left column in user tab -->
        <div class="col-md-6">
            <!-- fist name -->
            <div class="form-group">
                <input type="text" required [(ngModel)]="_firstname" name="firstname"
                    #firstname="ngModel" class="form-control" placeholder="First Name *" value="" />
            </div>
            <!-- last name -->
            <div class="form-group">
                <input type="text" required [(ngModel)]="_lastname" name="lastname"
                    #lastname="ngModel" class="form-control" placeholder="Last Name *" value="" />
            </div>
            <!-- email -->
            <div class="form-group">
                <input type="email" required [(ngModel)]="_email" name="email" #email="ngModel"
                    class="form-control" placeholder="Your Email *" value="" />
            </div>
              <!-- Username -->
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" [(ngModel)]="_username" name="username" #username="ngModel" minlength="4" required />
            </div>

            <!-- password -->
            <div class="form-group">
                <input type="password" required [(ngModel)]="_password" name="password"
                    #password="ngModel" class="form-control" placeholder="Password *" value="" />
            </div>
            <!-- confirm password -->
            <div class="form-group">
                <input type="password" required [(ngModel)]="_confirm" name="confirm"
                    #confirm="ngModel" class="form-control" placeholder="Confirm Password *"
                    value="" />
            </div>
          
            <!-- gender -->
            <div class="form-group gender">
                <div class="maxl">
                    <label class="radio inline">
                        <input class="checking" type="radio" name="gender" value="male" required
                            [(ngModel)]="_gender" name="gender" #gender="ngModel">
                        <span> Male </span>
                    </label>
                    <label class="radio inline">
                        <input type="radio" name="gender" value="female" required
                            [(ngModel)]="_gender" name="gender" #gender="ngModel" checked>
                        <span>Female </span>
                    </label>
                </div>
            </div>
            <!-- human check -->
            <div class="row human-check">
                <p class="col col-6">What is the answer of 2+3?</p>
                <div class="form-group col-6 float-left">
                    <input type="password" class="form-control" placeholder="Answer *" value="" />
                </div>
            </div>
        </div>

        <!-- right column in user tab -->
        <div class="col-md-6">
            <!-- address -->
            <div class="form-group">
                <input type="text" required [(ngModel)]="_address" name="address" #address="ngModel"
                    class="form-control" placeholder="Your Address *" value="" />
            </div>

            <!-- zipcode -->
            <div class="form-group">
                <input type="text" required [(ngModel)]="_zipcode" name="zipcode" #zipcode="ngModel"
                    class="form-control" placeholder="Zipcode" value="" />
            </div>

            <!-- phone number -->
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="_txtEmpPhone" name="txtEmpPhone" #txtEmpPhone="ngModel" minlength="10" maxlength="10" name="txtEmpPhone" 
                placeholder="Your Phone Number *" />
            </div>

            <!-- security question -->
            <div class="form-group">
                <select class="form-control">
                    <option class="hidden" selected disabled>Please select your Security
                        Question
                    </option>
                    <option>What is your Birthdate?</option>
                    <option>What is the name of the street you grew up in?</option>
                    <option>What is your Pet's Name?</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Your Answer *"
                    value="" />
            </div>

            <!-- submit button -->
            <input type="submit" class="btnRegister" value="Register" (click)="RegisterUser()" />
            <!-- <button type="submit" [disabled]="!myForm.form.valid" (click)="RegisterUser()"
                style="width: 161px;">Register</button> -->

        </div>
    </div>
</div>
</div>
<div class="col-md-2"></div>
</div>
</div>