
.restImgContainer{
    background-image: url("../../assets/restaurants/mcdonalds.jpg");
    background-size: cover;
    background-position: center;
}
.btn{
    background-color: crimson;
    width: 100%;
    border:none;
}

.tblDiv table,.tblDiv{
    border-radius: 15px;
    border: none !important;
}
.commentCol{
    width: 45%;
}

.reviewContainer{
    margin-top:30px;
    margin-bottom:30px;
    padding:15px;
    border-radius: 10px;

}
@media (max-width: 767.98px){
    .commentCol{
        width: 30%;
    }
    td,th,p,.btn{
        font-size: 0.8rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .tblDiv{
        display: none;
    }
    .reviewContainer{
        display: block;
    }
    .btn{
        width: 100%;
    }
}

@media (min-width: 767.98px){
    .tblDiv{
        display: block;
    }
    .reviewContainer{
        display: none;
    }
}

h2{
    color: white;
}

.lightHR{
    width: 75%;
    background-color: white;
}

.btn{
    width: 90%;
    background: #900000;
    border: none;
    margin-left: 5%;
}

.btn:hover{
    width: 100%;
    background: crimson;
    box-shadow:0px 0px 10px crimson;
    margin-left:0;
}