<div class="container-fluid register">
  <div class="row">
      <!-- right column, registeration column -->
      <div class="col-md-12 register-right">
        <div class="row reg-row">
          <div class="pic-div col-md-3">
          </div>

          <div class="registration-form col-md-9">
              <!-- restaurant register containet -->
              <div class="container-fluid right-col">
                  
                  <h4  class="register-heading">Register as a Restaurant</h4>
                  <hr>
                  <!-- register form -->
                  <div class="row register-form">
                   
                      <!-- left column -->
                      <div class="col-lg-6">

                        <!-- restaurant name and city/town -->
                        <div class="row">
                          
                            <div class="form-group col-7">
                                <input type="text" class="form-control" placeholder="Restaurant Name *" [(ngModel)]="_restaurantName" name="restaurantName" #restaurantName="ngModel" required />
                                <mat-error  *ngIf="restaurantName?.errors?.required"><p>You must enter a value</p></mat-error>
                            </div>
                            <div class="form-group col-5">
                                <input type="text" class="form-control" placeholder="City" [(ngModel)]="_city" name="city" #city="ngModel"  required/>
                                <mat-error  *ngIf="city?.errors?.required"><p>You must enter a value</p></mat-error>
                            </div>
                        </div>
                        
                        <!-- restaurant address -->
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Street Address" [(ngModel)]="_strAddress" name="strAddress" #strAddress="ngModel" required/>
                            <mat-error  *ngIf="strAddress?.errors?.required"><p>You must enter a value</p></mat-error>

                        </div>
                        
                        <!-- Zipcode -->
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Zip Code" [(ngModel)]="_zipcode" name="zipcode" #zipcode="ngModel"  required/>
                          <mat-error  *ngIf="zipcode?.errors?.required"><p>You must enter a value</p></mat-error>

                        </div>

                      </div>

                      <!-- right column -->
                      <div class="col-lg-6">

                      <!-- Phone number -->
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="_phoneNo" name="phoneNo" #phoneNo="ngModel"  required />
                        <mat-error  *ngIf="phoneNo?.errors?.required"><p>You must enter a value</p></mat-error>
                      </div>

                      <!-- email -->
                      <div class="form-group">
                          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="_email" name="email" #email="ngModel"  required/>
                          <mat-error  *ngIf="email?.errors?.required"><p>You must enter a value</p></mat-error>
                      </div>

                      <!-- license -->
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Food License" [(ngModel)]="_license" name="license" #license="ngModel"  required/>
                        <mat-error  *ngIf="license?.errors?.required"><p>You must enter a value</p></mat-error>
                      </div>

                      </div>
                  
                    </div>
                    <div class="row">
                      <textarea  class="form-control textArea" placeholder="Description" [(ngModel)]="_description" name="description" #description="ngModel"  required row=3></textarea>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <!-- submit button -->
                        <input type="submit" class="btnRegister btn-default btn-md"  value="Register"[disabled]="!email.valid || !phoneNo.valid || !restaurantName.valid || !strAddress.valid || !zipcode.valid" (click)="RegisterRestaurant()"/>
                       
                      </div>
                      
                    </div>
                                               
              </div>
              </div>

  </div>
  <!-- <div class="col-md-2"></div> -->
</div>
</div>


<!-- <mat-card class="my-card">
    <mat-card-header>
      <mat-card-title>Restaurant Partner Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="my-form">
        <mat-tab-group>
          <mat-tab label="General Information" class="my-tab">
            <table style="width: 100%" cellspacing="10">
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Restaurant Name</mat-label>
                    <input matInput placeholder="Restaurant Name" [(ngModel)]="_restaurantName" name="restaurantName" #restaurantName="ngModel" required>
                    <mat-error *ngIf="restaurantName?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error>

                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Street Address</mat-label>
                    <textarea matInput placeholder="Street Address" [(ngModel)]="_strAddress" name="strAddress" #strAddress="ngModel" required></textarea>
                    <mat-error *ngIf="strAddress?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error>

                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput placeholder="City" [(ngModel)]="_city" name="city" #city="ngModel"  required>
                    <mat-error *ngIf="city?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error>

                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Zip Code</mat-label>
                    <input matInput placeholder="Zip Code" [(ngModel)]="_zipcode" name="zipcode" #zipcode="ngModel"  required>
                    <mat-error *ngIf="zipcode?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" [(ngModel)]="_email" name="email" #email="ngModel"  required>
                    <mat-error *ngIf="email?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error>

                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Food License</mat-label>
                    <input matInput placeholder="Food License" [(ngModel)]="_license" name="license" #license="ngModel"  required>
                    <mat-error *ngIf="license?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error>

                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number" [(ngModel)]="_phoneNo" name="phoneNo" #phoneNo="ngModel"  required>
                    <mat-error *ngIf="phoneNo?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error>

                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder="Description" [(ngModel)]="_description" name="description" #description="ngModel"  required></textarea>
                    <mat-error *ngIf="description?.errors?.required" style="color:blue"><i>You must enter a value</i></mat-error>

                  </mat-form-field>
                </td>
              </tr>
            </table>
          </mat-tab> -->
          <!-- <mat-tab label="Other Information" class="my-tab">
            <table style="width: 100%" cellspacing="10">
              <tr>
                <td>
  
                  <mat-checkbox [checked]="isCompany"> Is company?</mat-checkbox>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Created At</mat-label>
                    <input  [value]="createdAt.value"  matInput [matDatepicker]="picker" placeholder="Date of creation">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Gender</mat-label>
                  <mat-radio-group [(value)]="selectedGender" >
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>Lead Source</mat-label>
                    <mat-select [(value)]="selectedSource" placeholder="Source">
                        <mat-option>None</mat-option>
                        <mat-option value="email">Email Marketing</mat-option>
                        <mat-option value="social">Social Media</mat-option>
                        <mat-option value="affiliate">Affiliate</mat-option>
                    </mat-select>
  
                  </mat-form-field>
                </td>
              </tr>
  
            </table>
          </mat-tab> -->
        <!-- </mat-tab-group> -->
  
  
  
  
<!--   
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [disabled]="!email.valid || !phoneNo.valid || !restaurantName.valid || !strAddress.valid || !zipcode.valid" (click)="RegisterRestaurant()" color="primary">Create</button>
    </mat-card-actions>
  </mat-card> -->