
<div class="container-fluid login-body">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
          
          <div class="login-wrap">
            <div class="login-html">
              <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
              <input id="tab-2" type="radio" name="tab" class="for-pwd"><label id="tab2-label" for="tab-2" class="tab">Forgot Password</label>

              <div class="login-form">
                <div class="sign-in-htm">
                  <div class="group">
                    <label for="user" class="label">Username or Email</label>
                    <input id="user" type="text" class="input" [(ngModel)]="_username" name="_username" required>
                  </div>
                  <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input type="password"  class="input_pass pwd input" [type]="hide ? 'password' : 'text'"
                  [(ngModel)]="_password" name="_password" required >
                  </div>
                  <div class="group">
                    <input type="submit" class="button login-btn" value="Sign In" (click)="login()">
                  </div>

                </div>
                <div class="for-pwd-htm">
                  <div class="group">
                    <label for="user" class="label">Username or Email</label>
                    <input id="user" type="text" class="input">
                  </div>
                  <div class="group">
                    <input type="submit" class="button rst-btn" value="Reset Password">
                  </div>

                </div>
              </div>
            </div>
          </div>
          
        

    </div>
    <div class="col-md-3"></div>
  </div>
 
  </div>
