{{updateLinks()}}
      <!-- <nav>
        <span *ngIf="message == 'Not logged in.'">   <a routerLink="/register/register" routerLinkActive="active">Register</a></span>
        <span *ngIf="message == 'Not logged in.'"> | <a routerLink="/login/login" routerLinkActive="active">Login</a></span>
        <span *ngIf="message == 'Not logged in.'"> | <a routerLink="/register/register_rest" routerLinkActive="active">regiter rest</a></span>
        <span *ngIf="message == 'The user has been logged in.'">   <a routerLink="/login/login" routerLinkActive="active" (click)="logout()">Logout ({{user['firstName']}})</a></span>
      </nav> -->
      <router-outlet></router-outlet>