.navbar-brand{
    width: 80px;
    height: 80px;
}

body{
    overflow-x: hidden !important;
}

.navigation-bar{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.container2 {
    padding:0.5cm;
    width:70%;
    border: 2px solid black;
}
#or_tb td {
    width: 2cm;
}