
.account-container{
  background-color: #243447;
  border-radius: 15px;
  margin-top: 3%;
  box-shadow:0px 0px 40px #121212;
}

.view-img-col{
  background: url(../../assets/Melancholy.gif);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border:none;
  background-position: center;
  background-size: cover;
}
.view-form-col, .edit-form-col {
  text-align: left;
  color: #fff;
  padding: 2% 5% 1% 5%;

}

.view-form-col p{
  text-align: left;
  color: #fff;
}

.view-form-col h3, .edit-form-col h3{
  text-align: center;

}

hr{
  border-bottom: gainsboro 1px solid; 
  width: 65%;
}

.editbtn,.savebtn,.cancelbtn{
  width: 90%;
  cursor: pointer;
  background: #900000;
  left: 5%;
  margin-bottom: 10px;
}

.editbtn:hover,.savebtn:hover,.cancelbtn:hover{
  width: 100%;
  background: crimson;
  left: 0%;
}