<div class="container-fluid waitingList">
    <hr>
    <h3>Waiting List</h3>
</div>
<div class="container-fluid waitingList">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button class="btn btn-primary" type="submit" (click)="RedirectToWaitingList()">Take me to Waiting List</button>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<hr>

<div class="container-fluid">
    <hr>
    <h3>Restaurant List:</h3>
    <hr>
</div>
<div class="container-fluid restContainer" *ngFor="let res of _RestaurantItem">
    <div class="row">
        <div class="card col-md-12">
            <div class="card-body">
                <div class="row">
                    <!-- left side of card / image -->
                    <div class="col-md-2 restImgContainer">
                    </div>

                    <!-- right side of card -->
                    <div class="col-12 col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="card-text"><b>Restaurant Name:</b></p>
                            </div>
                            <div class="col-md-3">
                                <p class="card-text">{{res[0].restaurantName}}</p>
                            </div>
                            <div class="col-md-3">
                                <p class="card-text"><b>Phone Number:</b></p>
                            </div>
                            <div class="col-md-3">
                                <p class="card-text">{{res[0].phoneNo}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="card-text"><b>Location:</b></p>
                            </div>
                            <div class="col-md-9">
                                <p class="card-text">{{res[0].strAddress}}, {{res[0].city}}, {{res[0].zipcode}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="card-text"><b>Description:</b></p>
                            </div>
                            <div class="col-md-9">
                                <p class="card-text">{{res[0].description}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-12 col-md-2">
                                <button class="btn btn-primary" type="submit">Menu</button> 
                            </div>
                            <div class="col-12 col-md-2">
                                <button class="btn btn-primary" (click)="deleteRestaurant(res[0].email)" type="submit">Delete</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    
    </div>
</div>

