@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
}

*{
    font-family: 'Ubuntu', sans-serif !important;
}

.main{
    background-color: inherit;
    padding: 10px;
    border-radius: 15px;
}
.main hr{
    background-color: white;
    width: 55%;
    margin-top: 30px;
}

#slideOne{
    background-image: url(../../assets/carousel/carousel1-normal.jpg);
    border-radius: 12px;

}

#slideTwo{
    background-image: url(../../assets/carousel/carousel2-normal.png);
    border-radius: 12px;
    background-position: center;
    background-size: cover;
}

#slideThree{
    background-image: url(../../assets/carousel/carousel3-normal.jpg);
    border-radius: 12px;
    background-size: cover;
    background-position: center;

}

.firstSlideCap{
    right: 50% !important;
    left: 10% !important;
    bottom: 50% !important;
    
}
.secondSlideCap{
    bottom: 50%
}

.carouselIndicators{
    margin-bottom: 40px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carouselIndicators,.carousel-inne{
    border-radius: 12px;
}

.fb-card, .pt-card{
    background-color: inherit;
    margin: 40px 0;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    height: 100%;
    border-radius: 0;
    color: white;
}

.feedback-container,.partner-container{
    padding: 0;
    margin: 0;
    align-content: stretch;
    justify-content: center;
    text-align: center;
}
.feedback-container a, .partner-container a{
    bottom: 0;
    background-color: #FC4445;
    border: none;
    margin-left: 35%;
}

.feedback-container text-card ,.partner-container text-card{
    margin: 10%;
    padding: 10%;
}

 .restContainer{
    margin: 20px;
    padding: 0;
}

.restContainer:hover{
    cursor: pointer;
    box-shadow:0px 0px 50px grey;

    z-index: 2;
}

.card-img{
    width: 100%;
    height: 100%;
    color: red;
    /* box-shadow:0px 0px 50px white; */
    -webkit-filter: drop-shadow(0px 0px 30px #fff);
    filter: drop-shadow(0px 0px 30px #fff);
}

.feedback-container hr, .partner-container hr{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.card .restImg{
    height: inherit;
    width: inherit;
    top: 50%;
    left: 50%;
    margin-left: 0;
}

.listText{
    background-color: inherit;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.listText h1{
    color: #fff;
}
.card-body{
    padding-left: 0;
} 

.fb-card p{
    margin-bottom: 2rem;
}
.readyToOrder .jumbotron{
    background-color: inherit;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.readyToOrder a{
    width: 100%;
    background-color: #FC4445;
    text-align: center;
    border: none;
}